# Members of group 24
Mattis Czternasty Hembre <mattisch@stud.ntnu.no> <mattisczthem@gmail.com>
Felix Torgersen Berner <felixtb@stud.ntnu.no>
Erlend Sorknes <erlesork@stud.ntnu.no> <sorknerl@gmail.com> <Sorknerl@gmail.com>
Sebastian Robert Sole <sebastrs@stud.ntnu.no>
unknown <> <noreply@github.com>
