HELP.md
target/classes
target/generated-sources
target/generated-test-sources
target/maven-status
target/site
target/surefire-reports
target/test-classes
target/jacoco.exec
target/generated-snippets/activeUser/curl-request.adoc
target/generated-snippets/activeUser/httpie-request.adoc
target/generated-snippets/activeUser/reqest-body.adoc
target/generated-snippets/activeUser/request-fields.adoc
target/generated-snippets/activeUser/response-body.adoc

target/generated-snippets/getRequst200ok/curl-request.adoc
target/generated-snippets/getRequst200ok/httpie-request.adoc
target/generated-snippets/getRequst200ok/reqest-body.adoc
target/generated-snippets/getRequst200ok/request-fields.adoc
target/generated-snippets/getRequst200ok/response-body.adoc

target/generated-snippets/user/curl-request.adoc
target/generated-snippets/user/httpie-request.adoc
target/generated-snippets/user/reqest-body.adoc
target/generated-snippets/user/request-fields.adoc
target/generated-snippets/user/response-body.adoc






!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
